.customer-onboarding-form {
    margin: auto;
    width: 65%;
    padding: 10px;
}

.customer-onboarding-head {
    padding-top: 20px;
    text-align: center;
}

.customer-onboarding-input, .customer-text-area {
    width: 100%
}