.contract-container {
    background-color: rgb(233, 233, 233);
    padding: 20px;

}

.contract-page {
    background-color: white;
    box-shadow: 0px 0px 8px 0px #000000;
    padding: 20px;
    margin-bottom: 30px;

}

.be-bold-plz {
    font-weight: 900;
}

.signature { 
    font-family: "Brush Script MT", cursive; 
    color: blue;
    font-size: 50px; 
    font-weight: 800; 
    line-height: 25px;
    padding-left: 5px;
    padding-bottom: 25px; 
} 