@import 'src/index.scss';

.login-form {
    width: 50%;
    margin: auto;
    // border: 1px solid red;
    padding: 10px;
    margin-top: 10px;
}

.login-input {
    width: 90%;
}

.log-in {
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 4px;
    background-color: rgb(216, 216, 216);
}

.log-in:hover{
    background-color: rgb(190, 190, 190);
    font-family: 1em sans-serif;
}

.register {
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 4px;
    background-color: rgb(216, 216, 216);
}

.register:hover{
    background-color: rgb(190, 190, 190);
    font-family: 1em sans-serif;
}